$font-primary: "DM Sans", sans-serif;
$font-secondary: "Titan One", sans-serif;

// font sizes
$font-small: 14px;
$font-normal: 16px;
$font-moderate: 20px;
$font-medium: 30px;
$font-big: 38px;
$font-large: 46px;
$font-huge: 58px;

// font weights
$font-medium-bold: 500;
$font-bold: 700;
