<section class="customer-reviews" id="customer-reviews">
  <div class="customer-reviews__container">
    <div class="review" id="review-1">
      <img
        class="review__photo"
        src="./images/testimonials1.png"
        srcset="./images/testimonials1.png 1x, ./images/testimonials1@2x.png 2x"
        alt="first reviewer"
      />
      <div class="review__content">
        <div class="review__text-container">
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="review__separation">. . .</div>
      <h3 class="review__name">Emily, Los Angeles</h3>
    </div>

    <div class="review" id="review-2">
      <img
        class="review__photo"
        src="./images/testimonials2.png"
        srcset="./images/testimonials2.png 1x, ./images/testimonials2@2x.png 2x"
        alt="second reviewer"
      />
      <div class="review__content">
        <div class="review__text-container">
          <p class="review__text">
            According to all known laws of aviation, there is no way a bee should be able to fly.
            Its wings are too small to get its fat little body off the ground.
          </p>
        </div>
      </div>
      <div class="review__separation">. . .</div>
      <h3 class="review__name">Grażyna, Świebodzin</h3>
    </div>

    <div class="review" id="review-3">
      <img
        class="review__photo"
        src="./images/testimonials3.png"
        srcset="./images/testimonials3.png 1x, ./images/testimonials3@2x.png 2x"
        alt="third reviewer"
      />
      <div class="review__content">
        <div class="review__text-container">
          <p class="review__text">
            The bee, of course, flies anyway because bees don't care what humans think is
            impossible.
          </p>
        </div>
      </div>
      <div class="review__separation">. . .</div>
      <h3 class="review__name">Gocha, Honolulu</h3>
    </div>
    <div class="review__menu">
      <button class="review__dot" id="dot-1" type="button"></button>
      <button class="review__dot" id="dot-2" type="button" onclick=""></button>
      <button class="review__dot" id="dot-3" type="button" onclick=""></button>
    </div>
  </div>
  <script src="./scripts/review-slider.js"></script>
</section>
