<header class="header">
  <div class="header__container">
    <div class="header__container--left">
      <picture>
        <source
          srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
          media="(min-width: 1280px)"
        />

        <source
          srcset="./images/logo-tablet.png 1x, ./images/logo-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/logo-mobile.png 1x, ./images/logo-mobile@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
          alt="Icecream logo"
          class="header__logo"
        />
      </picture>
    </div>
    <div class="header__container--right">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="#">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#advantages">About us</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#how">How it's made?</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#products">Our products</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__mobile-menu">
      <button
        class="header__mobile-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__menu-icon">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="header__button">
      Buy now
      <svg class="header__icon">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</header>
