<section class="hero">
  <div class="hero__container">
    <div class="hero__container--left">
      <h1 class="hero__header">Ice cream made with <span>passion</span></h1>
      <a href="#products-section" class="hero__button hero__button--cherry">Products</a>
      <a href="#about-section" class="hero__button hero__button--white">How it's made?</a>
      <div class="hero__text-button">
        <p class="hero__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="hero__link" href="#"
          ><svg class="hero__icon" width="10" height="10">
            <use href="./images/icons.svg#icon-arrow"></use></svg
        ></a>
      </div>
    </div>
    <div class="hero__container--right">
      <div class="hero__stats">
        <p class="hero__number">16</p>
        <p class="hero__text">cafes</p>
      </div>
      <div class="hero__stats">
        <p class="hero__number">23</p>
        <p class="hero__text">food trucks</p>
      </div>
    </div>
    <div class="hero__circle"></div>
    <picture>
      <source
        srcset="./images/hero-icecream.png 1x, ./images/hero-icecream@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-icecream-tablet.png 1x, ./images/hero-icecream-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero-icecream-mobile.png 1x, ./images/hero-icecream-mobile@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img
        srcset="./images/hero-icecream.png 1x, ./images/hero-icecream@2x.png 2x"
        alt="Icecream"
        class="hero__image--1"
      />
    </picture>
    <picture>
      <source
        srcset="./images/hero-girl.png 1x, ./images/hero-girl@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-girl-tablet.png 1x, ./images/hero-girl-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/hero-girl.png 1x, ./images/hero-girl@2x.png 2x"
        alt="Girl with an icecream"
        class="hero__image--2"
      />
    </picture>
    <picture>
      <source
        srcset="./images/hero-milk.png 1x, ./images/hero-milk@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero-milk-tablet.png 1x, ./images/hero-milk-tablet@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        srcset="./images/hero-milk.png 1x, ./images/hero-milk@2x.png 2x"
        alt="Milk in a bowl"
        class="hero__image--3"
      />
    </picture>
  </div>
</section>
