<section class="menu-container js-menu-container">
  <button type="button" class="mobile-menu__button">
    Buy now
    <svg class="mobile-menu__icon">
      <use href="./images/icons.svg#icon-btn-arrow"></use>
    </svg>
  </button>
  <button class="mobile-menu__close menu-toggle js-close-menu">
    <svg width="14" height="14" class="menu-container__icon-svg">
      <use href="images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu__container">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#advantages">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#how">How it's made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  <script src="./scripts/mobile-menu.js"></script>
</section>
