<section class="products">
  <div class="products__container">
    <label class="products__label">100% natural</label>
    <h2 class="products__header">products</h2>
    <ul class="products__list">
      <li class="products__list-item">
        <h3 class="products__list-header products__list-header--1">ICE CREAM</h3>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="products__list-button">
          <svg class="products__list-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__list-item">
        <h3 class="products__list-header products__list-header--2">ICE COFFEE</h3>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="products__list-button">
          <svg class="products__list-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>

      <li class="products__list-item">
        <h3 class="products__list-header products__list-header--3">MILKSHAKES</h3>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="products__list-button">
          <svg class="products__list-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
