@use '../utils/' as *;
.about {
  margin: 0 auto;
  background-color: getColor('pink-light');
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__container {
    max-width: 1280px;
    width: 100%;
    height: auto;
    background-image: url('/images/background-aboutx1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-position-y: 87%;
    padding: 0px 20px;
    padding-bottom: 50px;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    width: 100%;
    font-family: $font-secondary;
    font-weight: $font-normal-bold;
    font-size: $font-regular;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: getColor('pink-dark');
    letter-spacing: 0;
    padding-bottom: 15px;
  }
  &__heading {
    width: 100%;
    font-family: $font-secondary;
    font-weight: $font-normal-bold;
    font-size: $font-great;
    line-height: 39px;
    padding-bottom: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: getColor('cherry');
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__picture {
    width: 100%;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 105px;
    padding: 0px 30px;
  }
  &__text {
    line-height: 19.44px;
    font-family: $font-primary;
    font-weight: $font-medium-bold;
    font-size: $font-mini;
    &--upper {
      color: getColor('black');
      margin-bottom: 30px;
    }
    &--bottom {
      color: getColor('bronze');
      margin-bottom: 17px;
    }
  }
  &__button {
    width: 175px;
    height: 45px;
    border-radius: 22px;
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: $font-small;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: getColor('cherry');
    background-color: getColor('white');
    transition-property: background-color;
    transition-duration: $duration;
    transition-timing-function: $timingfunction;
    &:hover {
      background-color: getColor('gray-hover');
    }
  }
  &__icon {
    width: 10px;
    height: 10px;
    stroke: getColor('cherry');
    fill: none;
    margin-left: 10px;
  }
}
@media screen and (min-width: 480px) {
  .about {
    &__container {
      background-position-y: 90%;
    }
    &__label {
      font-size: 18px;
      line-height: 21px;
    }
    &__heading {
      font-size: 34px;
      line-height: 39px;
      letter-spacing: 0.04em;
    }
    &__text {
      &--upper {
        font-size: 12px;
        line-height: 19px;
      }
      &--bottom {
        font-size: 12px;
        line-height: 19px;
      }
    }
    &__button {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
@media screen and (min-width: 600px) {
  .about {
    &__container {
      background-position-y: 95%;
    }
  }
}
@media screen and (min-width: 768px) {
  .about {
    &__container {
      background-image: none;
      padding: 0 36px;
      padding-top: 130px;
      padding-bottom: 50px;
    }
    &__label {
      font-size: $font-average;
      line-height: 30px;
    }
    &__heading {
      font-size: $font-colossal;
      line-height: 55px;
      letter-spacing: 0.04em;
    }
    &__box {
      flex-direction: row;
      justify-content: flex-start;
    }
    &__description {
      width: 50%;
      padding: 0;
      padding-left: 17px;
      padding-top: 50px;
    }
    &__text {
      font-size: 14px;
      line-height: 25px;
    }
    &__button {
      font-size: 16px;
    }
    &__picture {
      width: 50%;
      max-width: 516px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .about {
    &__container {
      background-image: url('/images/background-aboutx1.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      padding: 0px 115px;
      padding-bottom: 50px;
      padding-top: 125px;
    }
    &__label {
      line-height: 1.13;
      letter-spacing: 0.04em;
      font-size: $font-medium;
    }
    &__heading {
      font-size: $font-huge;
      line-height: 1.13;
      margin-bottom: 55px;
      letter-spacing: 0.06em;
    }
    &__picture {
      max-width: 516px;
    }
    &__description {
      padding-left: 75px;
    }
    &__text {
      &--upper {
        margin-bottom: 35px;
      }
      &--bottom {
        margin-bottom: 45px;
      }
    }
  }
}
