@import '../utils/colors';
@import '../utils/fonts';

.advantages {
  background-color: getColor('pink-light');
  &__header {
    display: none;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 59px;
  }
  &__item {
    max-width: 232px;
    margin: 0;
    margin-left: 20px;
    // border: 1px solid black;
    &__count {
      line-height: normal;
      font-family: $font-secondary;
      font-size: $font-extensive;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
      color: getColor('cherry');
      padding-bottom: 15px;
      &--1::before {
        background-image: url('../images/adv-icon1x1.png');
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/adv-icon1x2.png');
        }
      }
      &--2::before {
        background-image: url('../images/adv-icon2x1.png');
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/adv-icon2x2.png');
        }
      }
      &--3::before {
        background-image: url('../images/adv-icon3x1.png');
        background-size: contain;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/adv-icon3x2.png');
        }
      }
    }
    &__text {
      font-family: $font-primary;
      font-size: $font-mini;
      font-weight: bold;
      line-height: 170%;
      display: block;
      text-align: left;
      margin-bottom: -4px;
      padding-bottom: 38px;
    }
    &__count::before {
      content: '';
      display: block;
      width: 65px;
      height: 66px;
      height: 55px;
      margin-bottom: 16px;
      background-repeat: no-repeat;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    &__list {
      padding-right: calc((100% - 250px) / 2);
      padding-left: calc((100% - 480px) / 2);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__list {
      justify-content: center;
    }
    &__item {
      margin-left: 36px;
      margin-right: 24px;
      max-width: 180px;
      &__count {
        text-transform: none;
        font-size: $font-colossal;
      }
      &__text {
        font-size: $font-small;
        line-height: 174%;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__list {
      justify-content: center;
    }
    &__item {
      margin-left: 15px;
      margin-right: 15px;
      max-width: 330px;
      &__count {
        text-transform: none;
        font-size: $font-huge;
      }
      &__text {
        font-size: $font-normal;
        line-height: 174%;
      }
    }
  }
}
