@use '../utils/' as *;
.contacts {
  width: 100%;
  background-image: linear-gradient(getColor('white') 0 5%, getColor('pink-light') 5% 100%);
  &__container {
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    padding-bottom: 113px;
  }
  &__heading {
    display: none;
  }
  &__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 54px;
  }
  &__item {
    width: 100%;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 20px;
    background-color: getColor('white');
  }
  &__title {
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 25px;
    background-color: getColor('champagne');
    text-transform: uppercase;
    display: block;
    width: 80px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: getColor('white');
    &--green {
      width: 130px;
      background-color: getColor('green');
    }
  }
  &__working {
    padding: 25px 0;
    margin-bottom: 25px;
    border-top: 1px solid getColor('gray-light');
    border-bottom: 1px solid getColor('gray-light');
  }
  &__days {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: getColor('pink-dark');
    &--space {
      margin-bottom: 10px;
    }
  }
  &__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    &--main {
      margin-bottom: 10px;
    }
    &--primary {
      color: getColor('black');
    }
    &--secondary {
      margin-bottom: 25px;
      color: getColor('bronze');
    }
  }
  &__address {
    display: flex;
    flex-direction: column;
  }
  &__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: getColor('bronze');
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__button {
    width: 160px;
    height: 45px;
    border-radius: 22px;
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: $font-small;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: $duration;
    transition-timing-function: $timingfunction;
    &--locations {
      color: getColor('white');
      background-color: getColor('cherry');
    }
    &--franchise {
      color: getColor('cherry');
      background-color: getColor('white');
      &:hover {
        background-color: getColor('grat-hover');
      }
    }
  }
  &__svg {
    width: 10px;
    height: 10px;
    fill: none;
    margin-left: 10px;
    &--white {
      stroke: getColor('white');
    }
    &--red {
      stroke: getColor('cherry');
    }
  }
}

@media screen and(min-width:768px) {
  .contacts {
    background-image: linear-gradient(getColor('white') 0 12%, getColor('pink-light') 12% 100%);
    &__container {
      padding: 0 36px;
      padding-bottom: 158px;
    }
    &__grid {
      display: flex;
      flex-direction: row;
      margin-bottom: 81px;
    }
    &__item {
      flex-basis: calc((100% - 40px) / 3);
      padding: 50px 31px;
    }
    &__title {
      border-radius: 4px;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 30px;
      width: 73px;
      height: 28px;
      &--green {
        width: 138px;
      }
    }
    &__working {
      padding: 30px 0;
      margin-bottom: 30px;
    }
    &__days {
      font-size: 14px;
      line-height: 26px;
      &--space {
        margin-bottom: 16px;
      }
    }
    &__text {
      &--primary {
        font-size: 14px;
        line-height: 26px;
      }
      &--secondary {
        font-size: 14px;
        line-height: 23px;
      }
    }
    &__link {
      font-size: 14px;
      line-height: 26px;
    }
    &__buttons {
      flex-direction: row;
      gap: 15px;
    }
  }
}
@media screen and(min-width:1280px) {
  .contacts {
    &__container {
      background-image: url(../images/contacts-backgroundx1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 20%;
      padding: 0 115px;
      padding-bottom: 165px;
    }
    &__grid {
      display: flex;
      gap: 30px;
      margin-bottom: 86px;
    }
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
    &__title {
      margin-bottom: 32px;
    }
    &__working {
      padding: 32px 0;
      margin-bottom: 32px;
    }
    &__days {
      font-size: 16px;
      line-height: 30px;
    }
    &__text {
      &--primary {
        font-size: 16px;
        line-height: 30px;
      }
      &--secondary {
        font-size: 16px;
        line-height: 29px;
      }
    }
    &__link {
      font-size: 16px;
      line-height: 29px;
    }
  }
}
