@use '../utils/' as *;

.footer {
  padding: 0;
  margin: 0;
  background-color: getColor('pink-light');

  &__container {
    min-width: 320px;
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    padding: 0;
    margin: 0;
    padding-bottom: 17px;
  }

  &__heading {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: getColor('pink-dark');
    padding-left: 22px;
    width: 232px;
  }

  &__heading--bigger {
    width: 200px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: getColor('cherry');
    padding-left: 20px;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 28.24px;
    padding-right: 20.5px;
    padding-top: 43px;
  }

  &__icon-link {
    //flex dla svg
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: 0px;
    border-radius: 50%;
    fill: getColor('white');
    background-color: #FEA5BB;

    &:hover {
      background-color: getColor('cherry');
    }
  }

  &__icon-github {
    height: 19px;
    width: 19px;
    padding: 0;
  }

  &__icon-telegram {
    height: 15px;
    width: 19px;
    padding: 0;
  }

  &__icon-fb {
    height: 19px;
    width: 9px;
    padding: 0;
  }

  &__contact {
    text-align: right;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &__contact-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: getColor('black');
    padding-right: 20px;
  }

  &__tel {
    color: getColor('cherry');
  }

  &__arr {
    text-align: center;
    border-top: 1px solid getColor('gray-light');
    padding-top: 22px;
    padding-bottom: 25px;
  }

  &__arr-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    max-width: 150px;
    color: getColor('bronze');
  }
}

//tabletowo

// @media screen and (min-width: 768px) {
//   .footer {
//     &__container {
//       max-width: 768px;
//     }
//   }
// }

//desktopowo

// @media screen and (min-width: 1280px) {
//   .footer {
//     &__container {
//       max-width: 1280px;
//     }
//   }
// }