.footer {
  padding: 0;
  margin: 0;
  background-color: #fff5f6;

  &__container {
    min-width: 320px;
    width: 100%;
    height: 410px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__heading {
    padding: 0;
    margin: 0;
    padding-bottom: 17px;
  }

  &__heading {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffa5ba;
    padding-left: 22px;
    width: 232px;
  }
  &__heading--bigger {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    padding-left: 20px;
  }
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 28.24px;
    padding-right: 20.5px;
  }
  &__icon-link {
    height: 32px;
    width: 32px;
  }

  &__icon-github {
    height: 19px;
    width: 19px;
  }

  &__icon-telegram {
    height: 15px;
    width: 19px;
  }

  &__icon-fb {
    height: 19px;
    width: 9px;
  }

  &__contact {
    text-align: right;
    padding-bottom: 43px;
  }
  &__contact-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
    padding-right: 20px;
  }
  &__tel {
    color: #d41443;
  }
  &__arr {
    text-align: center;
    border-top: 1px solid #e1e1e1;
    padding-top: 22px;
    padding-bottom: 25px;
  }
}
