@use '../utils/' as *;

.header {
  // background-color: getColor('pink-medium');
  width: 100%;
  padding-top: 6px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  top: 0;

  &__container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: none;
  }

  &__link {
    font-weight: $font-bold;
    color: getColor('white');
    line-height: 1.31;
    &:hover {
      color: getColor('cherry');
    }
  }

  &__button {
    display: none;
    &:hover {
      background-color: getColor('gray-hover');
    }
  }
  &__icon {
    width: 10px;
    height: 10px;
    stroke: getColor('cherry');
    fill: none;
    margin-left: 10px;
  }
}

// HAMBURGER 



// .menu-toggle {
//   margin: 0 auto;
//   padding: 0;
//   stroke: getColor('cherry');
//   display: inline-block;
// }

.header__mobile-btn{
  stroke: getColor('cherry');
}

.header__menu-icon{
    margin: 0 ;
    cursor: pointer;
    padding:0;
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 480px) {
  .header {
    &__container {
      padding: 0 20px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      padding: 38px 34px 0 34px;
      margin: 0 auto;

      &--left {
        width: auto;
      }

      &--right {
        display: flex;
        width: 50%;
      }
    }

    &__button {
      display: block;
      color: getColor('cherry');
      font-family: $font-primary;
      font-weight: 700;
      width: 159px;
      height: 44px;
      border-radius: 50px;
      background-color: getColor('white');
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 38px 115px 0 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--right {
        justify-content: center;
      }
    }

    &__list {
      display: flex;
      gap: 35px;
      font-weight: $font-bold;
      font-family: $font-primary;
    }
  }

  .js-open-menu {
    display: none;
  }
}
