@use '../utils/' as *;

.hero {
  background-color: getColor('pink-medium');
  overflow: hidden;

  &__container {
    display: flex;
    position: relative;
    width: 100%;
    padding: 137px 20px 160px 20px;

    &--left {
      width: 100%;
    }

    &--right {
      display: none;
    }
  }

  &__header {
    font-family: $font-secondary;
    font-size: $font-average;
    font-weight: $font-normal-bold;
    text-transform: uppercase;
    color: getColor('white');
    letter-spacing: 0.04em;
    line-height: 1.14;
    width: 218px;
    z-index: 100;
    position: relative;
    margin-bottom: 19px;

    span {
      color: getColor('cherry');
      font-size: $font-colossal;
      line-height: 0.95;
    }
  }

  &__button {
    padding: 7px 13px;
    border-radius: 50px;
    font-size: $font-tiny;
    line-height: 1.3;
    position: relative;
    z-index: 100;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &--cherry {
      background-color: getColor('cherry');
      color: getColor('white');
    }

    &--white {
      background-color: getColor('white');
      color: getColor('cherry');
    }
  }

  &__text-button {
    display: none;
  }

  &__text {
    font-size: 14px;
    color: getColor('white');
    line-height: 1.3;
    margin-bottom: 14px;
  }

  &__image {
    &--1 {
      position: absolute;
      bottom: 0;
      left: 36%;
      z-index: 10;
      animation-name: fadeinleft;
      animation-duration: 1000ms;
      animation-iteration-count: 1;
    }
    &--2 {
      display: none;
    }
    &--3 {
      display: none;
    }
  }

  &__circle {
    position: absolute;
    left: 12%;
    bottom: 75px;
    width: 346px;
    height: 346px;
    border-radius: 100%;
    background: getColor('pink-dark');
    animation-name: grow;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    &__image {
      &--1 {
        left: auto;
        right: 30%;
      }
    }

    &__circle {
      left: auto;
      right: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    overflow: visible;
    &__container {
      padding: 14px 34px 173px 34px;
      margin: 0 auto;

      &--left {
        width: 50%;
      }

      &--right {
        display: block;
        width: 50%;
      }
    }

    &__header {
      font-size: $font-fair;
      width: 162px;
      margin-bottom: 20px;

      span {
        font-size: $font-great;
        line-height: 0.9;
      }
    }

    &__button {
      font-size: $font-tiny;
    }

    &__image {
      &--1 {
        left: auto;
        right: 32%;
      }
      &--2 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 34px;
        z-index: 11;
        animation-name: fadeinright;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
      }
      &--3 {
        display: block;
        position: absolute;
        bottom: 28px;
        left: 34px;
        animation-name: fadeinleft;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
      }
    }

    &__text-button {
      display: block;
      position: absolute;
      left: 154px;
      bottom: 34px;
      flex-direction: column;
    }

    &__paragraph {
      font-size: $font-tiny;
      color: getColor('white');
      width: 114px;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    &__link {
      height: 26px;
      width: 26px;
      border-radius: 100%;
      background-color: getColor('white');
    }

    &__stats {
      text-align: right;
    }

    &__number {
      font-family: $font-secondary;
      font-size: $font-substantial;
      line-height: 1.14;
      position: relative;
      z-index: 10;
      color: getColor('cherry');

      &::after {
        content: '';
        background-color: getColor('white');
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: absolute;
        right: -10px;
        top: -3px;
        z-index: -1;
      }
    }

    &__text {
      font-size: $font-tiny;
      color: getColor('white');
      line-height: 1.3;
      margin-bottom: 14px;
    }

    &__circle {
      left: auto;
      right: 18%;
      bottom: 46px;
      width: 324px;
      height: 324px;
      z-index: 9;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    &__container {
      max-width: 1050px;
      padding: 84px 0 292px 0;
    }

    &__header {
      font-size: $font-big;
      width: 277px;
      margin-bottom: 25px;

      span {
        font-size: $font-huge;
      }
    }

    &__button {
      padding: 11px 20px;
      font-size: $font-small;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &__text-button {
      left: 180px;
      bottom: 56px;
    }

    &__paragraph {
      font-size: $font-small;
      width: 200px;
    }

    &__image {
      &--1 {
        left: 36%;
        z-index: 10;
      }
      &--2 {
        right: 0px;
      }
      &--3 {
        bottom: 45px;
        left: -38px;
      }
    }

    &__number {
      font-family: $font-secondary;
      font-size: 46px;
      line-height: 1.14;
      position: relative;
      z-index: 10;
      color: getColor('cherry');

      &::after {
        content: '';
        background-color: getColor('white');
        width: 30px;
        height: 30px;
        border-radius: 100%;
        position: absolute;
        right: -19px;
        top: -5px;
        z-index: -1;
      }
    }

    &__text {
      font-size: $font-small;
      color: getColor('white');
      line-height: 1.3;
      margin-bottom: 14px;
    }

    &__circle {
      left: 307px;
      bottom: 78px;
      width: 538px;
      height: 538px;
    }
  }
}

@keyframes grow {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }

  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translatex(100%);
  }

  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}
