@use '../utils/colors' as *;
@use '../utils/fonts' as *;

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-toggle {
    display:flex;
    justify-content: flex-end;
    padding-right:20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color:transparent;
}

.menu-container {
    padding-top:32px;
    padding-left:20px;
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
     width: 100vw;
     height: 100vh;
    background-color:#e17992;
     z-index: 999;

     transform: translateX(200%);
    transition: transform 500ms ease-in-out;
    align-items: center;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 5px;
  right: 0px;
  color: white;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top:20px;
    padding-left:0px;

&__link:hover,
&__link:focus {
        color: #d41443;
      }
    }
.mobile-menu__link{
        text-decoration: none;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color:white;
}
     .mobile-menu__button {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        display: block;
        color: #d41443;
        font-weight: 700;
        width: 209px;
        height: 44px;
        border-radius: 50px;
        background-color: white;
        border: none;
      
      &__button:hover,
      &__button:focus{
        background-color:#ECEBEB;
      }
    }
      .mobile-menu__item {
        width:100vw;
        padding: 13px 0px 13px 0px;
        border-top: 1px solid #e18298;
        border-bottom: 1px solid #e18298;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: white;
        text-align: left;
      }

.mobile-menu__container{
  width:100vw;
}
      @media screen and (min-width:1280px){
        .menu-toggle{
            display:none;
        }
      }