@use '../utils/' as *;

.products {
  &__container {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 121px 20px 98px 20px;
  }
  &__label {
    width: 100%;
    display: flex;
    font-family: $font-secondary;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: getColor('pink-dark');
    line-height: 1.14;
    font-size: $font-regular;
  }

  &__header {
    margin-top: 15px;
    margin-bottom: 144px;
    font-family: $font-secondary;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;

    color: getColor('cherry');
    line-height: 1.14;
    font-size: $font-great;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;
    flex-basis: calc((100% - 60px));
  }

  &__list-item {
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: getColor('champagne');
    border-radius: 24px;
    &:first-child {
      background-color: getColor('pink-medium');
    }
    &:last-child {
      background-color: getColor('green');
    }
  }

  &__list-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 163px;
    font-family: 'titan one';
    font-weight: 400;
    text-transform: uppercase;
    color: getColor('white');
    font-size: 20px;
    line-height: 1.14;
    padding-bottom: 30px;

    &--1 {
      &::before {
        content: url('../images/product1-mobile.png');
        position: absolute;
        left: 50%;
        top: 7%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: url('../images/icon-dots.svg');
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        fill: getColor('white');
        stroke: getColor('white');
        z-index: 1000;
      }
    }

    &--2 {
      &::before {
        content: url('../images/product2-mobile.png');
        position: absolute;
        left: 50%;
        top: 7%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: url('../images/icon-dots.svg');
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        fill: getColor('white');
        stroke: getColor('white');
        z-index: 1000;
      }
    }

    &--3 {
      &::before {
        content: url('../images/product3-mobile.png');
        position: absolute;
        left: 50%;
        top: 7%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: url('../images/icon-dots.svg');
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        fill: getColor('white');
        stroke: getColor('white');
        z-index: 1000;
      }
    }
  }

  &__list-button {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: getColor('white');
    border-radius: 50%;
  }

  &__list-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: getColor('cherry');
  }

  &__description {
    color: getColor('white');
    font-size: $font-small;
    line-height: 1.71;
    font-weight: $font-bold;
    gap: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 30px 41px 30px 41px;
  }

  &__more {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__more-item {
    width: 26px;
    display: flex;
    margin: 0 auto;
    fill: getColor('white');
    height: 6px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products {
    &__list-header {
      &--1 {
        &::before {
          content: url('../images/product1-mobile@2x.png');
        }
      }
      &--2 {
        &::before {
          content: url('../images/product2-mobile@2x.png');
        }
      }
      &--3 {
        &::before {
          content: url('../images/product3-mobile@2x.png');
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    &__container {
      width: 100%;
      padding: 122px 34px 112px 34px;
    }

    &__label {
      font-size: $font-average;
    }

    &__header {
      margin-bottom: 150px;
      font-size: $font-colossal;
    }

    &__list {
      flex-direction: row;
      gap: 20px;
      flex-basis: calc((100% - 40px) / 3);
    }

    &__description {
      padding-bottom: 40px;
    }

    &__list-header {
      padding-top: 152px;
      &--1 {
        &::before {
          content: url('../images/product1-tablet.png');
          top: 5%;
        }
      }
      &--2 {
        &::before {
          content: url('../images/product2-tablet.png');
          top: 5%;
        }
      }
      &--3 {
        &::before {
          content: url('../images/product3-tablet.png');
          top: 5%;
        }
      }
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products {
    &__list-header {
      &--1 {
        &::before {
          content: url('../images/product1-tablet@2x.png');
        }
      }
      &--2 {
        &::before {
          content: url('../images/product2-tablet@2x.png');
        }
      }
      &--3 {
        &::before {
          content: url('../images/product3-tablet@2x.png');
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
    &__container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 127px 115px 119px 115px;
    }

    &__label {
      font-size: $font-medium;
    }

    &__header {
      margin-bottom: 259px;
      font-size: $font-huge;
    }

    &__list {
      gap: 30px;
      flex-basis: calc((100% - 60px) / 3);
    }

    &__description {
      padding-top: 32px;
      padding-bottom: 62px;
    }

    &__list-header {
      padding-top: 163px;
      &--1 {
        &::before {
          content: url('../images/product1.png');
          top: -15%;
        }
      }
      &--2 {
        &::before {
          content: url('../images/product2.png');
          top: -15%;
        }
      }
      &--3 {
        &::before {
          content: url('../images/product3.png');
          top: -15%;
        }
      }
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .products {
    &__list-header {
      &--1 {
        &::before {
          content: url('../images/product1@2x.png');
        }
      }
      &--2 {
        &::before {
          content: url('../images/product2@2x.png');
        }
      }
      &--3 {
        &::before {
          content: url('../images/product3@2x.png');
        }
      }
    }
  }
}
